
<div class="row">
    <div class="col-md-8  mx-auto">
        <div class="card card-statistics pt-5">
            <div class="card-header pt-5">
                <div class="card-heading pt-5">
                    <h2 class="card-title text-center">Add product</h2>
                </div>
            </div>
            <div class="card-body">
                <form action="/admin/productmanagmnet/addproduct" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputProduct">Product Name</label>
                            <input type="text" class="form-control" id="inputProduct" placeholder="product name" name="product">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="CATEGORY">Category</label>
                            {{!-- <input type="password" class="form-control" id="inputPassword4"
                                placeholder="Password"> --}}
                            <select id="inputCategory" class="form-control" name="category">
                                 <option selected="">Select Category </option>
                                <option >Fruits and Vegetables </option>
                                <option>Dairy and Bakery</option>
                                <option> Staples</option>
                            </select>
                        </div>
                    </div>


                 

                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="subCategory">Sub Category</label>
                            <select id="inputsubCategory" class="form-control" name="subCategory">
                                <option selected="">Select sub Category</option>
                                
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputprice">Price</label>
                            <input type="number" class="form-control" id="inputPrice" name="price">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputquantity" name="quantity">Quantity</label>
                            <input type="number" class="form-control" id="inputQuantity" name="quantity">
                        </div>
                    </div>
                      <div class="form-row ">

                    <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                    </div>
                   </div>

                    {{!-- <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputprice">Additonal information</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div> --}}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="container">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upload Image 1</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="imgInp" name="productimage1">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='img-upload' />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upload Image 2</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="imgInp2" name="productimage2">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='img-upload2' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="container">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upload Image 3</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="imgInp3" name="productimage3">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='img-upload3' />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Upload Image 4</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="imgInp4" name="productimage4">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='img-upload4' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Add Product</button>
                </form>
            </div>
        </div>
    </div>
    
</div>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #img-upload ,#img-upload2,#img-upload3,#img-upload4 {
        width: 100%;
    }
</style>
<script>
     document.getElementById('inputCategory').onchange=e=>{
         console.log(e.target.value)
     Category=e.target.value
    $.ajax({
        url:'/admin/getCategory',
        method:"POST",
        data:{Category},
        success: (res)=>{
            console.log("success")
             //console.log(res)
             console.log("____________")
             console.log(res.sorttedCategory.subcategory.length)
             console.log("____________")
             for(let i=0;i<res.sorttedCategory.subcategory.length;i++){
            let element =   `<option>${res.sorttedCategory.subcategory[i]}</option>`
            document.getElementById("inputsubCategory").innerHTML+=element
             }
        }
    })
     }

    


    //image 1
    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    });

//image 2
    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload2').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp2").change(function () {
            readURL(this);
        });
    });

//image 3
    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload3').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp3").change(function () {
            readURL(this);
        });
    });

    //image 3
    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload4').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp4").change(function () {
            readURL(this);
        });
    });
</script>
<script>

</script>