                        <div class="row pt-4 container-fluid">
                            <div class="col-xxl-12 mb-30">
                                <div class="card card-statistics h-100 mb-0">
                                    <div class="card-header pt-5">
                                        <h4 class="card-title">All Products</h4>
                                        <button class="btn btn-primary float-right"><a href="/admin/productmanagment/adddproduct">Add products</a></button>
                                    </div>
                                    <div class="card-body ">
                                        <div class="table-responsive">
                                            <table class="table table-borderless mb-0">
                                                <thead class="bg-light">
                                                    <tr>
                                                        <th>VIN number</th>
                                                        <th>Product name</th>
                                                        <th>Category</th>
                                                        <th>Sub Category </th>
                                                        <th>Price</th>
                                                        <th>qty</th>
                                                        {{!-- <th>Description</th> --}}
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted mb-0">
                                                    <tr>
                                                        <td>#54981</td>
                                                        <td>2017 Audi A4 Prestiger</td>
                                                        <td>4</td>
                                                        <td>20-01-2019</td>
                                                        <td>Old</td>
                                                        <td>13</td>
                                                        {{!-- <td>cdkjcs</td> --}}
                                                        <td>
                                                            <a href="javascript:void(0)" class="mr-2"><i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i></a>
                                                            <a href="javascript:void(0)"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i></a>
                                                        </td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                        </div>
                        