<!DOCTYPE html>
<html lang="zxx">
	

<head>
		<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>FreshMart - Organic, Fresh Food, Farm Store HTML Template</title>
		
		<meta name="keywords" content="Organic, Fresh Food, Farm Store">
		<meta name="description" content="FreshMart - Organic, Fresh Food, Farm Store HTML Template">
		<meta name="author" content="tivatheme">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="/img/favicon.png" type="image/png">
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700" rel="stylesheet">
		
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/libs/font-material/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="/libs/nivo-slider/css/nivo-slider.css">
		<link rel="stylesheet" href="/libs/nivo-slider/css/animate.css">
		<link rel="stylesheet" href="/libs/nivo-slider/css/style.css">
		<link rel="stylesheet" href="/libs/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/libs/slider-range/css/jslider.css">
		
		<!-- Template CSS -->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/reponsive.css">



		<!--admin css -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
       <!-- plugins -->
    <script src="/assets/js/vendors.js"></script>

    <!-- custom app -->
    <script src="/assets/js/app.js"></script>

  <!--Sweet alert-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">

	</head>
	
	<body class="home home-3 p-5">
        <header class="app-header top-bar">
                <!-- begin navbar -->
                <nav class="navbar navbar-expand-md">

                    <!-- begin navbar-header -->
                    <div class="navbar-header d-flex align-items-center">
                        <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
                        <a class="navbar-brand" href="index.html">
                         <img src="/assets/img/logo.png" class="img-fluid logo-desktop" alt="logo" />
                            <img src="/assets/img/logo-icon.png" class="img-fluid logo-mobile" alt="logo" />
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti ti-align-left"></i>
                    </button>
                    <!-- end navbar-header -->
                    <!-- begin navigation -->
                    
                    <!-- end navigation -->
                </nav>
                <!-- end navbar -->
            </header>
	 <div class="app-container">
               <aside class="app-navbar">
                    <!-- begin sidebar-nav -->
                    <div class="sidebar-nav scrollbar scroll_light">
                        <ul class="metismenu " id="sidebarNav">
                           

                          
                            <li><a href="/admin/home" aria-expanded="false"><i class="fa fa-home"></i></i><span class="nav-title">Home</span></a> </li>
                          
                            <li><a href="/admin/usermanagment" aria-expanded="false"><i class="fa fa-users"></i><span class="nav-title">User Mangment</span></a> </li>
                          
                             <li><a href="/admin/productmanagment" aria-expanded="false"><i class="fa fa-shopping-bag"></i><span class="nav-title">Product Managment</span></a> </li>
                            <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-calendar"></i><span class="nav-title">Category Managment</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href='/admin/categorymangament'> Category</a> </li>
                                    <li> <a href='/admin/subcategorymangament'> sub Category</a> </li>
                                </ul>
                            </li>
                            {{!-- <li><a href="/admin/categorymangament" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Category Managment</span></a> </li> --}}
                            <li><a href="/admin/ordermangment" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Order Mangamnet</span></a> </li>
                            <li><a href="/admin/salereport" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Sales report</span></a> </li>
                            <li><a href="#" class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Offer Managment</span></a>
                            <ul aria-expanded="false">
                                    <li> <a href='/admin/category-offer'> Category Offer</a> </li>
                                    <li> <a href='/admin/product-offer'> Product Offer</a> </li>
                                    <li> <a href='/admin/add-coupon'> Coupan</a> </li>
                                </ul>
                             </li>
                            <li><a href="/admin/banner" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Addd Banner image </span></a> </li>
                            <li><a href="/admin/logout" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Logout </span></a> </li>
                          
                          
                            
                        
                          
                        </ul>
                    </div>
                    <!-- end sidebar-nav -->
                </aside>
            </div>
            
      <div class="app-main">
           <div class="container">
               <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Sales Table</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                       
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                         <div class="row">
                              <div class="export-table-wrapper table-responsive">
                                                        <div class="mb-4">
                                                <div class="row col-md-6" >
                                                  <form action="" id="dateReport">
                                                    <label for="start">Start date:</label>

                                         <input type="date" id="start" name="start" > <label for="start">End date:</label>

                                         <input type="date" id="end" name="end"
                                      >   <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                                </div>
                                                <div class="row col=md-6  pr-4">
                                              <button class="btn btn-primary align-items-right mr-5"  onclick="getSorrtedReport('yearly');" value="year">Yearly</button>
                                              <button class="btn btn-primary align-items-right mr-5" onclick="getSorrtedReport('monthly');" value="month">Monthly</button>
                                              <button class="btn btn-primary align-items-right mr-5" onclick="getSorrtedReport('daily');" value="daily">Dailys</button>
                                              
                                                </div>
                                               
                                              
                                            </div>
                                         <table id="example" class="display" style="width:100% margin-left: em">
                                     <thead>
                                      <tr>
                               <th>First name</th>
                                <th>Last name</th>
                                  <th>Position</th>
                                     <th>Office</th>
            
                                     </tr>
                                     </thead>
                                      <tbody id="tbody">
                                            {{#each oders}}
                                                    <tr>
                                                        <td>{{this.date}}</td>
                                                        <td>{{this.status}}</td>
                                                        <td>{{this.total}}</td>
                                                        <td>{{this.userId}}</td>
                                                        {{!-- <td>2011/04/25</td>
                                                        <td>$320,800</td> --}}
                                                    </tr>
                                                {{/each}}

    </tbody>
    <tfoot>
        <tr>
            <th colspan="3" style="text-align:right">Total:</th>
            <th></th>
        </tr>
    </tfoot>
</table>
                              </div>
              
                         </div>
        
       </div>
      </div>


     


			
      	</body>
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

<script>
    let table;
    $(document).ready(function () {
        table=$('#example').DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

              
                // Update footer
                $(api.column(3 ).footer()).html(
                   ' ( $' + total + ' total)'
                );
            },
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ],
        });
    });
</script>
		<!-- Vendor JS -->
		<!--if any isuue uncomment and change in sales report -->
		{{!-- <script src="/libs/jquery/jquery.js"></script> --}}
		<script src="/libs/bootstrap/js/bootstrap.js"></script>
		<script src="/libs/jquery.countdown/jquery.countdown.js"></script>
		<script src="/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
		<script src="/libs/owl.carousel/owl.carousel.min.js"></script>
		<script src="/libs/slider-range/js/tmpl.js"></script>
		<script src="/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
		<script src="/libs/slider-range/js/draggable-0.1.js"></script>
		<script src="/libs/slider-range/js/jquery.slider.js"></script>
		<script src="/libs/elevatezoom/jquery.elevatezoom.js"></script>
		
		<!-- Template CSS -->
		<script src="/js/main.js"></script>
      

   <script>

          {{!-- Ajax --}}
      
      document.getElementById('dateReport').onsubmit = e => {
      e.preventDefault();
      
      $.ajax({
          url:"/admin/datewisereport",
          data:$("#start").serialize(),
          method:"POST",
          
          success:(response)=>{
              console.log("response ")
             table.destroy();
             document.getElementById('tbody').innerHTML="";
            
             let newElement;
             console.log(response.dateOders);
             for(let i=0; i<response.dateOders.length;i++){
                 newElement =`
                 <tr> 
                     <td>${response.dateOders[i].date}</td>
                     <td>${response.dateOders[i].status}</td>
                     <td>${response.dateOders[i].total}</td>
                     <td>${response.dateOders[i].userId}</td>
                 </tr>
                 `
             document.getElementById('tbody').innerHTML += newElement;
             }
              table=$('#example').DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

              
                // Update footer
                $(api.column(3 ).footer()).html(
                   ' ( $' + total + ' total)'
                );
            },
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ],
        });
            
            
          }
      })
  }

           

                    //diable next date
                    var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0');
  var yyyy = today.getFullYear();

  today = yyyy + '-' + mm + '-' + dd;
  $('#start').attr('max', today);
  $('#end').attr('max', today);
  document.getElementById('start').onchange=e=>{
    value=e.target.value
 
    $('#end').attr('min', value);
  }
                    


  function getSorrtedReport(date){
     
      $.ajax({
          url:"/admin/getSorrtedReport",
          method:"POST",
          data:{date},
           success:(response)=>{
                table.destroy();
             document.getElementById('tbody').innerHTML="";
             let newElement;
             console.log(response.sorttedOrder);
             for(let i=0; i<response.sorttedOrder.length;i++){
                 newElement =`
                 <tr> 
                     <td>${response.sorttedOrder[i].date}</td>
                     <td>${response.sorttedOrder[i].status}</td>
                     <td>${response.sorttedOrder[i].total}</td>
                     <td>${response.sorttedOrder[i].userId}</td>
                 </tr>
                 `
             document.getElementById('tbody').innerHTML += newElement;
             }
              table=$('#example').DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

              
                // Update footer
                $(api.column(3 ).footer()).html(
                   ' ( $' + total + ' total)'
                );
            },
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ],
        });
            
            
          }
      })
  }
   </script>
           

<!-- data table-->
{{!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"> --}}
  
{{!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script> --}}
</html>