   <header class="app-header top-bar">
                <!-- begin navbar -->
                <nav class="navbar navbar-expand-md">

                    <!-- begin navbar-header -->
                    <div class="navbar-header d-flex align-items-center">
                        <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
                        <a class="navbar-brand" href="index.html">
                            <img src="/assets/img/logo.png" class="img-fluid logo-desktop" alt="logo" />
                            <img src="/assets/img/logo-icon.png" class="img-fluid logo-mobile" alt="logo" />
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti ti-align-left"></i>
                    </button>
                    <!-- end navbar-header -->
                    <!-- begin navigation -->
                    
                    <!-- end navigation -->
                </nav>
                <!-- end navbar -->
            </header>
            <div class="app-container">
               <aside class="app-navbar">
                    <!-- begin sidebar-nav -->
                    <div class="sidebar-nav scrollbar scroll_light">
                        <ul class="metismenu " id="sidebarNav">
                           

                          
                            <li><a href="/admin/home" aria-expanded="false"><i class="fa fa-home"></i></i><span class="nav-title">Home</span></a> </li>
                          
                            <li><a href="/admin/usermanagment" aria-expanded="false"><i class="fa fa-users"></i><span class="nav-title">User Mangment</span></a> </li>
                          
                             <li><a href="/admin/productmanagment" aria-expanded="false"><i class="fa fa-shopping-bag"></i><span class="nav-title">Product Managment</span></a> </li>
                            <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-calendar"></i><span class="nav-title">Category Managment</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href='/admin/categorymangament'> Category</a> </li>
                                    <li> <a href='/admin/subcategorymangament'> sub Category</a> </li>
                                </ul>
                            </li>
                            {{!-- <li><a href="/admin/categorymangament" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Category Managment</span></a> </li> --}}
                            <li><a href="/admin/ordermangment" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Order Mangamnet</span></a> </li>
                            <li><a href="/admin/salereport" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Sales report</span></a> </li>
                            <li><a href="#" class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-comment"></i><span class="nav-title">Offer Managment</span></a>
                            <ul aria-expanded="false">
                                    <li> <a href='/admin/category-offer'> Category Offer</a> </li>
                                    <li> <a href='/admin/product-offer'> Product Offer</a> </li>
                                    <li> <a href='/admin/add-coupon'> Coupan</a> </li>
                                </ul>
                             </li>
                            <li><a href="/admin/banner" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Addd Banner image </span></a> </li>
                            <li><a href="/admin/logout" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Logout </span></a> </li>
                          
                          
                            
                        
                          
                        </ul>
                    </div>
                    <!-- end sidebar-nav -->
                </aside>
            </div>
            