<div class="container" style="margin-top: 15em;">
	<div class="register-page">
		<div class="register-form form" id="register" style="display: none;">
			<div class="block-title">
				<h2 class="title"><span>Create Account</span></h2>
			</div>

			{{!-- <form action="/signup" method="POST" id="Signupform"> --}}
			  <form id="Signupform" >
				<div class="form-group">
					<label>User Name</label>
					<input type="text" value="" name="username"
					oninput="$(this).val($(this).val().replace(/[^a-zA-Z\s]/gi, ''));nameFn()" required>
				</div>


				<div class="form-group">
					<label>Email</label>
					<input type="email" value="" name="email" id="email" required
                        pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" oninput="this.value = this.value.replace(/\s/g,'');">
				</div>
             
               

				<div class="form-group">
					{{!-- <label>Phone number</label> --}}
					<input type="number" value="" name="phone" id="phone" maxlength="10" required
                        hidden>
				</div>

                             
				<div class="form-group">
					<label>Password</label>
					<input type="password" value="" name="password" id="password" required>
				</div>

				<div class="form-group">
					<label>Confirm Password</label>
					<input type="password" value="" name="confirmPassword" id="confirmPassword" required>
				</div>
				
				<div class="form-group text-center">
					<input type="submit" class="btn btn-primary" value="Create Account">
				</div>
				<div class="row">
					<div class="col-md-12"> <a
							class="btn btn-lg btn-google btn-block text-uppercase btn-outline text-dark" href="/auth/google"><img
								src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup with Google</a>
					</div>
				</div> <br>
				<div class="form-group text-center">
					<div class="link">
						{{!-- <a href="#">Forgot your password?</a> --}}
						<a href="/Login">Already have an account? Login</a>
					</div>
				</div>

			</form>
		</div>

    {{!-- otpSubmit --}}
	 {{!-- <div class="container height-100  d-flex justify-content-center align-items-center"> --}}
		 <div class="container-fulid" >
			 
       
            <div class="card p-2 text-center" id="otpDiv">
                <h6>Please enter Your number<br> </h6>
                
                <div><p class="text-center text-danger" id="numberError"></p></div >
                 
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
					<input class="m-2 text-center form-control rounded" type="text" id="input1" v-on:keyup="inputenter(1)" maxlength="10" name="phone" style="width: 30em"/>
					</div>
                
                <div class="mt-4"> <button class="btn btn-danger px-4 validate" onclick="SendOtp()" >Submit</button> </div>
                 {{!-- otp verifyotp --}}
                 <div id="otpverification">
                     <div class="mt-2">
                     <h6>Please enter Your Otp<br> </h6>
                </div>
				 <div><p class="text-center text-danger" id="otpError"></p></div >
                  <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded" style="width: 30em" type="text" id="input2" v-on:keyup="inputenter(1)" maxlength="6" name="otp" /></div>
                    <div id="timer" class=" mt-2">  <p id="counter"></p> </div>
                <div class="mt-4"> <button class="btn btn-danger px-4 validate" id="otpSubmit" onclick="SubmitOtp()">Submit</button> </div>
                 </div>
                
               

                <div class="mt-3 content d-flex justify-content-center align-items-center"> <span class="mr-3">Didn't get the code</span> <button class="btn-sm btn-primary" class="text-decoration-none ms-3" onclick="SendOtp()" id="resend">Resend</button> </div>
                      
        </div>
		 </div>
    {{!-- </div> --}}

	{{!-- otpSubmit end here --}}

	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> --}}
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
	jQuery.validator.setDefaults({
		debug: false,
		sucess: function (label) {
			label.attr('id', 'valid')
		},
	});
	$("#Signupform").validate({
		rules: {
			username: {
				required: true
			},
			email: {
				required: true,
				email: true
			},
			phone: {
				required:true,

			},
			password:{
               required:true,
			},
			confirmPassword: {
                   required:true,
				equalTo: "#password"
			},
		},
		messages: {
			username: {
				required: "Please enter an username"
			},
			email: {
				required: "Please provide an email"
			},
			phone:{
				required:"Please provide an phone"
			},
			
			password: {
				required: "Please provide a password"
			},
			confirmPassword: {
				required: "Please provide a password",
				equalTo: "Wrong Password"
			}
		}
	});
	function nameFn() {
		let username = $("#username").val();
		username = username.replace(/  +/g, ' ');
		$("#username").val(username);
	}


	$('#Signupform').on("submit",(e)=>{
	e.preventDefault()
	$.ajax({
		url:"/signup",
		data:$("#Signupform").serialize(),
		method:'POST',
		success:function(response){
		window.location="/login"
            
		}

		
	})
})

 let resendButton = document.getElementById('resend').style.display="none"    
   let otpSubmit= document.getElementById('otpSubmit') .style.display="none"




    function  SendOtp(){
  let number=document.getElementById('input1').value;
 					

        $.ajax({
            url:"/sentOtp",
            method:"POST",
            data:{number},
            success: function (response){
                
          
               if(response.number==true)

               {
                     let resendButton = document.getElementById('resend').style.display=""    
                    let otpSubmit= document.getElementById('otpSubmit') .style.display=""
                     document.getElementById('numberError').innerHTML=""
                                    const StringMinute =2
                    let time = StringMinute * 60
                    var countdownElement=document.getElementById('counter')
                        let timer=setInterval(updateCounter,1000)
                        function updateCounter(){
                    const minutes =Math.floor(time / 60);
                        let seconds = time % 60;
                    seconds = seconds < 2 ? '0' + seconds : seconds; 


                    countdownElement.innerHTML=`${minutes}: ${seconds}`
                        time--;
                        if(minutes ==0 && seconds ==0)
                            {
                                 
                                    let otpSubmit= document.getElementById('otpSubmit') .style.display="none"
                        clearInterval(timer)
                                }

 }
               // window.location="/confirmotp"
               }
               else if(response.number==false)
               {
                 
               document.getElementById('numberError').innerHTML="User already exist"
               }
            }
        })
		document.getelementById('phone').innerHTML=number
			document.getelementById('phone').value=number
    }
   


   function SubmitOtp(){
       let otp = document.getElementById('input2').value;
    
       $.ajax({
           url:"/submitOtp",
           method:"POST",
           data:{otp},
           success:(response)=>{
               console.log(response)
			   if(response.login)
			   {

			document.getElementById('register').style.display=""
			document.getElementById('otpDiv').style.display="none"
            
			   }
			   else
			   {
				   
                 document.getElementById('otpError').innerHTML="Wrong Otp"
			   }
              

           }
       })
   }


</script>