<div class="container">
	<div class="register-page">
		<div class="register-form form">
			<div class="block-title">
				<h2 class="title"><span>Create Account</span></h2>
			</div>

			<form action="/signup" method="POST" id="Signupform">
				<div class="form-group">
					<label>User Name</label>
					<input type="text" value="" name="username"
					oninput="$(this).val($(this).val().replace(/[^a-zA-Z\s]/gi, ''));nameFn()" required>
				</div>


				<div class="form-group">
					<label>Email</label>
					<input type="email" value="" name="email" id="email" required
                        pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" oninput="this.value = this.value.replace(/\s/g,'');">
				</div>


				<div class="form-group">
					<label>Password</label>
					<input type="password" value="" name="password" id="password" required>
				</div>

				<div class="form-group">
					<label>Confirm Password</label>
					<input type="password" value="" name="confirmPassword" id="confirmPassword" required>
				</div>
				<div class="form-group text-center">
					<input type="submit" class="btn btn-primary" value="Create Account">
				</div>
				<div class="row">
					<div class="col-md-12"> <a
							class="btn btn-lg btn-google btn-block text-uppercase btn-outline text-dark" href="#"><img
								src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup with Google</a>
					</div>
				</div> <br>
				<div class="form-group text-center">
					<div class="link">
						{{!-- <a href="#">Forgot your password?</a> --}}
						<a href="/Login">Already have an account? Login</a>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
	jQuery.validator.setDefaults({
		debug: false,
		sucess: function (label) {
			label.attr('id', 'valid')
		},
	});
	$("#Signupform").validate({
		rules: {
			username: {
				required: true
			},
			email: {
				required: true,
				email: true
			},
			
			password: "required",
			confirmPassword: {
				equalTo: "#password"
			},
		},
		messages: {
			username: {
				required: "Please enter an username"
			},
			email: {
				required: "Please provide an email"
			},
			
			password: {
				required: "Please provide a password"
			},
			confirmPassword: {
				required: "Please provide a password",
				equalTo: "Wrong Password"
			}
		}
	});
	function nameFn() {
		let username = $("#username").val();
		username = username.replace(/  +/g, ' ');
		$("#username").val(username);
	}
</script>